name: Tests

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

  push:
    branches:
      - main

jobs:
  test:
    name: "Tests: python ${{ matrix.python-version }} | ${{ matrix.os }} | poetry ${{ matrix.poetry-version }}"
    strategy:
      fail-fast: false
      matrix:
        python-version: [
          '3.9',
          '3.10'
        ]
        poetry-version: [1.1.13]
        os: [
          ubuntu-latest,
          macos-latest,
          windows-latest
        ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Poetry
        uses: abatilo/actions-poetry@v2.0.0
        with:
          poetry-version: ${{ matrix.poetry-version }}

      - name: Install Dependencies
        run: poetry install

      - name: Test
        run: poetry run pytest --cov=melnor_bluetooth --cov-report=xml:coverage.xml

      - name: Upload coverage
        uses: codecov/codecov-action@v2
        with:
          files: ./coverage.xml # optional
          flags: Unit Tests # optional
          name: ${{ matrix.python-version }}_${{ matrix.os }} # optional
